# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/.qmake.stash
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/Maitrohide_en_US.qm
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/qmake_qmake_qm_files.qrc
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/qrc_qmake_qmake_qm_files.cpp
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile.Debug
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile.Release
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/object_script.Maitrohide.Debug
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/object_script.Maitrohide.Release
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/release/qmake_qmake_qm_files.qrc
build-Maitrohide-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/ui_mainwindow.h
Maitrohide/Maitrohide.pro
Maitrohide/Maitrohide.pro.user
Maitrohide/Maitrohide_en_US.ts.autosave
