# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/.qmake.stash
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/ATOTAM_en_US.qm
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/qmake_qmake_qm_files.qrc
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/moc_predefs.h
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/qrc_qmake_qmake_qm_files.cpp
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile.Debug
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile.Release
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/object_script.ATOTAM.Debug
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/object_script.ATOTAM.Release
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/release/qmake_qmake_qm_files.qrc
build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/ui_mainwindow.h
ATOTAM/ATOTAM.pro.user
ATOTAM/ATOTAM_en_US.ts.autosave
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/.qmake.stash
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/ATOTAM_fr_FR.qm
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/qmake_qmake_qm_files.qrc
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile.Debug
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/Makefile.Release
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/object_script.ATOTAM.Debug
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/object_script.ATOTAM.Release
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/release/qmake_qmake_qm_files.qrc
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/moc_predefs.h
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/qrc_qmake_qmake_qm_files.cpp
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/ui_mainwindow.h
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
ATOTAM/build-ATOTAM-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
ATOTAM/BUILD/*.*
ATOTAM/RELEASE/*.*
*.qrc
ATOTAM/BUILD/Makefile
*.debug
*.qm
ATOTAM/BUILD/release/moc_predefs.h
ATOTAM/BUILD/release/qrc_qmake_qmake_qm_files.cpp
ATOTAM/BUILD/release/moc_mainwindow.cpp
ATOTAM/BUILD/debug/moc_mainwindow.cpp
ATOTAM/BUILD/debug/moc_predefs.h
ATOTAM/BUILD/debug/qrc_qmake_qmake_qm_files.cpp
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpgwpilqk_
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpm63rhs_u
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp0dd1aa1n
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp0k_otn3q
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp4vnwbu5n
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp8293w_jm
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpif0jk1hp
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmplf_ypad5
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmprx8fe1g6
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpsv5u9h8_
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpz0s1418q
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpi2av3ekq
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpxc8kejc_
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpit2cwfh8
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpmw844zdk
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp0mmbvg4m
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpbsr62r6t
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpci7c3tb3
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpe4i9hq_x
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpejrflfzq
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpf7iq3c56
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpj2s1fjk4
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpxi7nmzo5
ATOTAM/RELEASE/Makefile
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp4_ucbdsu
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpxlb8pq_n
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp16wtdue2
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp39k7fj8y
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp4wyhy4p_
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp5mi17moy
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp6qdnueol
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp_gxaqube
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmp_iub2id1
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpa2znk3yh
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpb_i4x8hj
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpc9rknzfv
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpl8cwnp9w
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpo5i7jxfz
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpd6okucbh
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpbn41hox9
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpwktj2jwi
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpyupdubbz
ATOTAM/BUILD/UsersmaximAppDataLocalTemptmpzzekp6wy
